doctype html
html(lang="en", ng-app="siteTrackerApp")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description", content="Demo Angular site for organizing web site links")
		meta(name="author", content="Kyle Terns")
		link(rel="icon", type="image/x-icon", href="./assets/img/favicon.ico")
		
		title WebDev Resources
		
		| <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		| <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		link(rel="stylesheet", href="./assets/css/main.css")

	body
		
		div(ng-view)
		
		script(src="http://code.jquery.com/jquery-1.12.0.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js")
		script(src="./assets/js/app.js")
