.container
  h3 Web Developer Resources
    span.small.text-muted  Demo project by Kyle Terns, developed with Jade, SASS, AngularJS, and Bootstrap
  form.form-inline
    .form-group
      input.form-control(type="textbox" placeholder="Search Links..." ng-model="rsFilter" autofocus)
    input.btn.btn-default.btn-primary(type="reset" value="Clear" ng-click="rsFilter = undefined")
  hr
  div(role='tabpanel', ng-include="'templates/tabs/tabs.html'")
